{% extends "base.html" %}
{% block content %}
<!-- HTML code goes in here -->
<head>
  <style>
    #countdown {
      font-size: 18px;
      font-weight: normal;
    }
    /* #score {
      font-size: 12px;
      font-weight: bold;
    }
    #life {
      font-size: 12px;
      font-weight: bold;
    } */
    #word {
      font-size: 32px;
      font-weight: bold;
    }
    #p {
      font-size: 20px;
      font-weight: normal;}
  </style>
</head>
<center>
   <h1>
   Is This Word New or Have You Seen It?
   <body>
    <div id="countdown">60</div>

    <script>
       let timeLeft = 60;
      const countdownDisplay = document.getElementById('countdown');
    
      function updateCountdown() {
        timeLeft -= 1;
        countdownDisplay.textContent = timeLeft;
        // if (timeLeft <= 10) {
        //   document.getElementById("countdown").style.color = "red";
        // }
        if (timeLeft <= 0) {
          window.location.href = "/gameover";
        }
        let timeOut = 60 - timeLeft;
      }
      setInterval(updateCountdown, 1000);
    </script>

  </body>
  </h1>

<p id = "p">
  Score:{{session['score']}}  Lives: {{session['life']}}
</p>
    
  <div id="word">
    {{session['word']}}
  </div>
<br>

<form action="seen" method="get">
  <input type="submit" value="Word Seen">
</form>

<form action="new" method="get">
  <input type="submit" value="Word New">
</center>

{% endblock %}
