<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<!-- time test -->
<head>
  <style>
    #countdown {
      font-size: 18px;
      font-weight: normal;
    }
    /* #score {
      font-size: 12px;
      font-weight: bold;
    }
    #life {
      font-size: 12px;
      font-weight: bold;
    } */
    #word {
      font-size: 32px;
      font-weight: bold;
    }
    #p {
      font-size: 20px;
      font-weight: normal;}
  </style>
  <script src="countdown.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<center>
   <h1>
   Is This Word New or Have You Seen It?
   <body>
    <p>Time left: <span id='countdown'></span> seconds</p>

    <script>
      var initialTimeLeft = 60;
      let timeLeft = initialTimeLeft;
      const countdownDisplay = document.getElementById('countdown');
      countdownDisplay.textContent = timeLeft;
  
      function updateCountdown() {
        timeLeft -= 1;
        countdownDisplay.textContent = timeLeft;
        if (timeLeft <= 0) {
          window.location.href = "/gameover";
        }
        localStorage.setItem('timeLeft', timeLeft);
      }
  
      setInterval(updateCountdown, 1000);
    </script>

    <script>
      $(document).ready(function() {
        function updateContent(response) {
          $('#word').text(response.word);
          $('#p').text('Score:' + response.score + '  Lives:' + response.life);
        }

        function submitForm(e, formId) {
          e.preventDefault();
          $.ajax({
            type: 'GET',
            url: $(formId).attr('action'),
            success: function(response) {
              updateContent(response);
            },
          });
        }

        $('#seen-form').on('submit', function(e) {
          submitForm(e, '#seen-form');
        });

        $('#new-form').on('submit', function(e) {
          submitForm(e, '#new-form');
        });
      });
    </script>

  </body>
  </h1>

<p id = "p">
  Score:{{session['score']}}  Lives: {{session['life']}}
</p>
    
  <div id="word">
    {{session['word']}}
  </div>
<br>

<!-- <form action="seen" method="get">
  <input type="submit" value="Word Seen">
</form>

<form action="new" method="get">
  <input type="submit" value="Word New"> -->

  <form id="seen-form" action="seen" method="get">
    <input type="submit" value="Word Seen">
  </form>
  
  <form id="new-form" action="new" method="get">
    <input type="submit" value="Word New">
  </form>
  
</center>

{% endblock %}
